.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #f10606;
}

table {
  color: rgb(228, 10, 228);
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  min-width: 300px;
  background: #332c72;
}

.header-row {
    background: rgb(9, 114, 117);
    color: rgb(183, 214, 226)
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
    color: white;
}